.navbar{
    height: 20vh;
    background-color: orangered;
}

img{
    max-height: 18vh;
    padding-top: 1vh;
}

.navbar-item{
    height: 15vh;
    margin-top: 2.5vh;
    margin-right: 5px;
    margin-left: 5spx;
}

a{
    font-weight: 600;
    text-decoration: none;
    color: navy;
}