
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="">
                <img src="assets/1200px-2-Dice-Icon.svg.png">
            </a>
        </div>
        <a class="navbar-end">
            <a *ngIf ='!master && !player' class="navbar-item" href='login'>
                <a *ngIf ='!master && !player' href='login'>Zaloguj się</a>
            </a>
            <a *ngIf = "master || player" class="navbar-item">
                <p *ngIf = "master || player">Witaj, {{ name }}</p>
            </a>
            <a *ngIf = "master || player" class="navbar-item" href='druzyny'>
                <a *ngIf = "master || player" href='druzyny'>Moje drużyny</a>
            </a>
            <a *ngIf = "master || player" class="navbar-item" href='terminy'>
                <a *ngIf = "master || player" href='terminy'>Moje terminy</a>
            </a>
            <a *ngIf = "master" class="navbar-item" href='miejsca'>
                <a *ngIf = "master" href='miejsca'>Moje miejsca</a>
            </a>
            <a *ngIf = "master || player" class="navbar-item" href='miejsca'>
                <a *ngIf = "master || player" href='profil'>Mój profil</a>
            </a>
            <a *ngIf ='master || player' class="navbar-item" href=''>
                <a *ngIf ='master || player' (click)='logout()'>Wyloguj się</a>
            </a>
        </a>
    </nav>
