<div class="row">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="">
                <img src="assets/1200px-2-Dice-Icon.svg.png">
            </a>
        </div>
        <a class="navbar-end">
            <a class="navbar-item">
                <a href='login'>Zaloguj się</a>
            </a>
            <a class="navbar-item">
                <a href='druzyny'>Moje drużyny</a>
            </a>
            <a class="navbar-item">
                <a href='terminy'>Moje terminy</a>
            </a>
            <a class="navbar-item">
                <a href='login'>Mój profil</a>
            </a>
        </a>
    </nav>
</div>