<section>
    <div>
        <h2>Moje drużyny</h2>
    </div>
    <div>
        <p class='err'><br>{{error}}</p>
    </div>
    <div>
        <mat-card class='card' *ngFor='let item of teams'>
            <mat-card-header>
                <mat-card-title>Mistrz gry: {{item.mistrz?.login}}, {{item.mistrz?.imie}}</mat-card-title>
                <mat-card-subtitle>{{item.system}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf='item.nazwa'>Nazwa drużyny: {{item?.nazwa}}</p><br>
                <p>Miasto: {{item.mistrz?.miasto}}</p>
                <p>Liczba członków: {{item.l_czlonkow}}</p><br>
                <p>Maksymalna liczba członków: {{item.max_l_czlonkow}}</p><br>
                <p>Liczba odbytych sesji: {{item.l_odbytych_sesji}}</p><br>
                <p>Minimalny staż gracza: {{item.mistrz?.minimalny_staz_gracza}}</p>
                <p>Opłata za sesję: {{item.mistrz?.oplata_za_sesje}}</p>
            </mat-card-content>
            <mat-card-actions *ngIf='master' align="start">
                <button mat-button (click)="delTeam(item.id)">Usuń</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card class='addition' *ngIf='master' (click)='addTeam()'>
            <a><mat-card-title class="add" (click)='addTeam()'>Dodaj nową drużynę</mat-card-title></a>
        </mat-card>
    </div>
    <div>
        <h2 *ngIf='player'>Drużyny, do których możesz należeć</h2>
    </div>
    <div *ngIf='search&&player'>
        <p class='err'><br>{{search_error}}</p>
    </div>
    <div *ngIf='!search&&player'>
        <p class='err'>Osiągnąłeś limit liczby zespołów, do których możesz należeć!</p>
    </div>
    <div *ngIf='search&&player'>
        <mat-card class='card' *ngFor='let item of possible'>
            <mat-card-header>
                <mat-card-title>Mistrz gry: {{item.mistrz?.login}}, {{item.mistrz?.imie}}</mat-card-title>
                <mat-card-subtitle>{{item.system}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf='item.nazwa'>Nazwa drużyny: {{item?.nazwa}}</p><br>
                <p>Miasto: {{item.mistrz?.miasto}}</p>
                <p>Liczba członków: {{item.l_czlonkow}}</p><br>
                <p>Maksymalna liczba członków: {{item.max_l_czlonkow}}</p><br>
                <p>Liczba odbytych sesji: {{item.l_odbytych_sesji}}</p><br>
                <p>Minimalny staż gracza: {{item.mistrz?.minimalny_staz_gracza}}</p>
                <p>Opłata za sesję: {{item.mistrz?.oplata_za_sesje}}</p>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-button (click)="joinTeam(item.id)">Dołącz</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>