section {
    height: 80vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/assets/work.jpg') !important;
    background-position: center center;
    text-align: center; 
}