<section>
    <div>
        <h2>Witaj w Planerze Sesji!</h2>
    </div>
    <div *ngIf='!logged'>
        <p>Planer sesji jest narzędziem, które odpowiada na potrzeby rynku graczy RPG<br><br>
        Miałeś problem z umawianiem się na sesję ze swoją drużyną?<br><br>
        A może zarządzasz kilkoma drużynami, chcesz tworzyć terminy i pozwalać drużynom rywalizować o nie na zasadzie kto pierwszy ten lepszy?<br><br>
        A może jesteś graczem i zawsze irytowało cię, że nie masz jednego miejsca, w którym będą znajdowały się wszystkie terminy twoich sesji?<br><br>
        Jeżeli tak, to poniższe narzędzie jest właśnie dla ciebie!<br><br>
        Zarejestruj się już teraz i korzystaj z możliwości tego planera!</p>
    </div>
    <div *ngIf='logged'>
        <p>Dziękujemy za rejestrację<br><br>
        Przejrzyj widoczne zakładki i już dzisiaj korzystaj w pełni z możliwości, które oferuje ci Planer Sesji!</p>
    </div>
</section>
