h2{
    text-align: center;
    font-size: 20px;
}

.field{
    text-align: center;
}

.ng-valid.ng-dirty:not(form) {
    border: solid 2px lightgreen;
  }
  
  .ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).register-submitted {
    border: solid 2px lightcoral;
  }

p{
  color: red;
}

form{
  margin-left: 10vw;
  max-width: 80vw;
}
