<section>
    <form (ngSubmit)="onSubmit()" [formGroup] = "reg">
        <h2>Rejestracja</h2>
        <div class="field">
            <label>Login</label>
            <input type="text" name="login" class="input" placeholder="login" formControlName="login"  [ngClass]="{'register-submitted': regSubmitted}">
        </div>
        <div class="field">
            <label>Adres e-mail</label>
            <input type="text" name="email" class="input" placeholder="email@domena.pl" formControlName="email"  [ngClass]="{'register-submitted': regSubmitted}">
        </div>
        <div class="field">
            <label>Hasło</label>
            <input type="password" name="password" class="input" formControlName="password" [ngClass]="{'register-submitted': regSubmitted}">
            <p>Hasło musi zawierać przynajmniej jedną małą i dużą literę, cyfrę oraz znak specjalny</p>
        </div>
        <div class="field">
            <h3>Jestem:</h3>
                <input type="radio" name="type" value="BG" formControlName="type" checked /> Graczem
                <input type="radio" name="type" value="GM" formControlName="type" /> Mistrzem Gry <br>
        </div>
        <div class="field">
            <label>Imię</label>
            <input type="text" name="name" class="input" placeholder="Imię" formControlName="name" [ngClass]="{'register-submitted': regSubmitted}">
        </div>
        <div class="field">
            <label>Główny system</label>
            <select class='input' [ngClass]="{'register-submitted': regSubmitted}" formControlName='system'>
                <option *ngFor='let sys of sys' [value]="sys"> {{ sys }}</option>
            </select>  
        </div>
        <div class="field">
            <label>System dodatkowy (opcjonalny)</label>
            <select class='input' [ngClass]="{'register-submitted': regSubmitted}" formControlName='system2'>
                <option *ngFor='let sys of sys' [value]="sys"> {{ sys }}</option>
            </select>  
        </div>
        <div class="field">
            <label>System dodatkowy (opcjonalny)</label>
            <select class='input' [ngClass]="{'register-submitted': regSubmitted}" formControlName='system3'>
                <option *ngFor='let sys of sys' [value]="sys"> {{ sys }}</option>
            </select>  
        </div>
        <div class="field">
            <label>Staż w latach</label>
            <select class='input' [ngClass]="{'register-submitted': regSubmitted}" formControlName='experience'>
                <option *ngFor='let exp of exp' [value]="exp"> {{ exp }}</option>
            </select>  
        </div>
        <div class="field">
            <label>Miasto</label>
            <select class='input' [ngClass]="{'register-submitted': regSubmitted}" formControlName='city'>
                <option *ngFor='let city of city' [value]="city"> {{ city }}</option>
            </select>  
        </div>
        <div class="field">
            <button type = "submit" [disabled]="!reg.valid || !reg.touched || regSubmitted" class="btn btn-success">Rejestracja</button><br>
        </div>
        <div class="field">
            <p class="warning">{{ error }}</p>
        </div>
        <div class="field">
            <p class="success">{{ ok }}</p>
        </div>
    </form>
</section>